@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.header{ 
	text-align: center;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 0;
	margin-top: 10px;
}

button{
	height: 30px;
	background-color: pink;
	color: black;
	cursor: pointer;
	margin: 0;
	padding: 7px;
	width: 100px;
	border: none;
	border-radius: 7px;
	font-weight: bold;
}



.table{
	display: flex;
	justify-content: center;
	align-items: center;
}

.userTable {
  border-collapse: collapse;
  margin: 15px 0;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 0 0;
  font-size: 0.9em;
  overflow: hidden;
}

#tableBody a {
	color: black;

}

.userTable thead tr {
  background-color: pink;
  font-weight: bold;
  font-size: 1.1em;
  /*  color: rgba(15, 27, 6, 0.822); */
  color: white;
  text-align: left;
}

.userTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.userTable tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.userTable tbody tr:last-of-type{
   border-bottom: 4px solid pink;
}

.userTable thead th,
.userTable tbody td {
  padding: 7px 35px;
  text-align: left;
  
}

.userTable tbody td a{
    margin-left: 3px;
}

.userTable tbody td a i{
  color: red;
  opacity: 0.7;
}

.userTable tbody td a .list{
  font-size: 20px;
  color: black;
  opacity: 0.5;
}

.userTable tbody tr:hover{
  background-color: rgba(255, 255, 255, 0.4);
}


.status{
	display: flex ; 
	justify-content: left;
}

.present{
	border: none;
	background-color: green	;
	border-radius: 5px;
	padding: 5px;
}

.absent{
	border: none;
	background-color: red;
	border-radius: 5px;
	padding: 5px;
}



















